body{
    font: normal 13pt Verdana;
    color: green;
}
input{
    font: normal 13pt Verdana;
    width: 50px;
}
div#res{
    margin-top: 20px;
}
/* modo escuro */
@media (prefers-color-scheme: dark) { 
  body{
     color: #fff;
     background-color: #111;
  }
}